---
main: yes
wallpaper: "your-wallpaper.jpg"

users:
  - { name: "vagrant", password: "$6$l5Zf21s2MJv1q$VjLWMNeqWO6JUZ9QctjwyVAIPo6KrSawEeZNMhU5YFdi0ExOSqcUbdTUYPsHyNfCsRY2xReBjg5Z4u4ZkSftI/" }

ssh_keys:
  - { owner: "vagrant", service: "github", passphrase: "ssh_key_passphrase" }

system_time_zone: "UTC"
system_hostname: "vagrant"

git_full_name: "Vagrant"
git_email: "vagrant@localhost"

newsblur_username: "newsblur.username"
newsblur_password: "newsblur.password"

personal_server: "vagrant.localhost"
personal_server_shortcut: "v-local"
personal_server_photos: "/home/vagrant/photos"
personal_local_photos: "~/Pictures"
personal_public_files: "~/Public"

agenda_khal:
  main: "my_calendar"
  calendars:
    - { name: "my_calendar",     color: "#FFFFFF", readonly: "False", path: "{{ vdirsyncer_directory }}/calendars/vagrant/my_calendar/"     }
    - { name: "remote_calendar", color: "#333333", readonly: "True",  path: "{{ vdirsyncer_directory }}/calendars/vagrant/remote_calendar/" }

agenda_khard:
  contacts: "{{ vdirsyncer_directory }}/contacts/vagrant/contacts/"

agenda_vdirsyncer:
  - name: "my_contacts"
    path: "{{ vdirsyncer_directory }}/contacts/vagrant"
    fileext: ".vcf"
    collections:
      - "contacts"
    options:
      - { key: "type",     value: "carddav" }
      - { key: "url",      value: "https://dav.localhost" }
      - { key: "auth",     value: "basic" }
      - { key: "username", value: "dav-username" }
      - { key: "password", value: "dav-password" }
  - name: "my_calendar"
    path: "{{ vdirsyncer_directory }}/calendars/vagrant"
    fileext: ".ics"
    collections:
      - "my_calendar"
      - "remote_calendar"
    options:
      - { key: "type",          value: "google_contacts" }
      - { key: "token_file",    value: "{{ vdirsyncer_directory }}/calendars/token" }
      - { key: "client_id",     value: "client-id" }
      - { key: "client_secret", value: "client-secret" }

notmuch_full_name: "Vagrant"
notmuch_primary_email: "first@example.localhost"
notmuch_other_emails:
  - "second@example.localhost"
  - "third@example.localhost"

offlineimap_email_accounts:
  - { name: "default",   type: "Maildir", user: "default@example.localhost",   password: "default",   host: "some.host" }
  - { name: "secondary", type: "Maildir", user: "secondary@example.localhost", password: "secondary", host: "some.host" }

neomutt_email_server: "example.localhost"
neomutt_email_accounts:
  - { key: "1", name: "default"   }
  - { key: "2", name: "secondary" }
neomutt_email_sender:
  full_name: "Vagrant"
  name: "default"
  user: "default@example.localhost"
  password: "default"
neomutt_mailboxes:
  - "Mailbox1"
  - "Mailbox2"
  - "Mailbox3"
neomutt_bindings:
  - { key: "A", mailbox: "INBOX" }
  - { key: "B", mailbox: "Archive" }
  - { key: "C", mailbox: "Trash" }
  - { key: "D", mailbox: "Starred" }
  - { key: "E", mailbox: "Spam" }
neomutt_mailbox_record: "Mailbox1"
neomutt_mailbox_postponed: "Mailbox2"
neomutt_mailbox_mbox: "Mailbox3"
neomutt_email_server_port: "465"
neomutt_smtp_protocol: "smtps"

ledger_password: "password"
ledger_exchange_key: "some_key"

background_color: "dark"

workspaces:
  - { key: "1", keybinding: "1", symbol: "", assigned: "Slack" }
  - { key: "2", keybinding: "2", symbol: "", assigned: "firefox" }
  - { key: "3", keybinding: "3", symbol: "" }
  - { key: "4", keybinding: "4", symbol: "" }
  - { key: "5", keybinding: "5", symbol: "V" }
  - { key: "6", keybinding: "6", symbol: "VI" }
  - { key: "7", keybinding: "7", symbol: "VII" }
  - { key: "8", keybinding: "8", symbol: "VIII" }
  - { key: "9", keybinding: "9", symbol: "IX" }
  - { key: "10", keybinding: "0", symbol: "X" }

scratchpad_applications:
  - { name: "todo", keybinding: "T", launcher: "terminal", size: "80% 80%" }
  - { name: "ikhal", keybinding: "A", launcher: "terminal" }
  - { name: "neomutt", keybinding: "E", launcher: "terminal", size: "80% 80%" }
  - { name: "newsboat", keybinding: "N", launcher: "terminal" }
  - { name: "Signal", keybinding: "M", launcher: "signal-desktop", class: "[Ss]ignal", size: "80% 80%" }
