{{ ansible_managed | comment }}

Section "InputClass"
  Identifier "Mouse Defaults"
  MatchIsTouchpad "on"

  Option "Tapping" "on"
  Option "NaturalScrolling" "false"
  Option "ClickMethod" "clickfinger"
EndSection
