{{ ansible_managed | comment }}

[General]
config_location={{ openvpn_directory }}/client/*.conf
service_name=openvpn-client
show_warning=false
sudo_command=sudo
use_sudo=true
{% if openvpn_name is defined %}
vpn_name={{ openvpn_name }}
{% endif %}
