{{ ansible_managed | comment }}

[Unit]
Description=Systemon
After=network.target

[Service]
ExecStart=/usr/bin/env python2 -m sagbescheid $SYSTEMON_ARGS
Environment=PYTHON_EGG_CACHE={{ systemon_python_egg_cache }}
EnvironmentFile={{ systemon_config_directory }}/systemon
WorkingDirectory={{ systemon_directory }}/systemon
User=nobody
Type=notify
NotifyAccess=main
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
