#!/usr/bin/env bash
set -euo pipefail
IFS=$'\n\t'
PATH=$PATH:/usr/local/bin

{{ ansible_managed | comment }}

hyprctl dispatch togglespecialworkspace $1

if ! hyprctl clients | grep $1 >/dev/null; then
  if [ "$1" == "alacritty" ]; then
    ~/.config/hypr/scripts/alacritty.sh --title "$1" --class "$1" &
  elif [ "$2" == "terminal" ]; then
    ~/.config/hypr/scripts/alacritty.sh --title "$1" --class "$1" -e "$1" &
  else
    ${@:2} &
  fi

  hyprctl dispatch focuscurrentorlast
fi
