#
##  {{ ansible_managed }}
#

.DS_Store
*~
*.swp
.keep

# Ignore personal changes to projects Gemfiles
Gemfile.local
## Example Gemfile.local
### source "http://rubygems.org"
### instance_eval(File.read(File.dirname(__FILE__) + "/Gemfile"))
### gem "gem_example"
Gemfile.local.lock
