[defaults]
retry_files_enabled = False
roles_path = roles/
display_skipped_hosts = False
inventory = inventory.ini
ansible_managed = Ansible managed: {file} modified on %Y-%m-%d %H:%M:%S by {uid} on {host}
