[defaults]
retry_files_enabled = False
roles_path = roles/
display_skipped_hosts = False
inventory = inventory.ini
force_handlers = True
remote_tmp = /tmp/$USER
interpreter_python = auto_silent
result_format=yaml
ansible_managed = This file is managed by Ansible.%n
  template: {file}
  date: %Y-%m-%d %H:%M:%S
  user: {uid}
  host: {host}
