{{ ansible_managed | comment }}

encryption: {{ ledger_password }}
files:
  ledger: {{ ledger_file }}
  networth: {{ ledger_networth }}
exchange_key: {{ ledger_exchange_key }}
transfer: {{ ledger_transfer }}
ignored_accounts: {{ ledger_ignored_accounts }}
investments: {{ ledger_investment }}
currency: {{ ledger_currency }}
firefly: {{ ledger_firefly }}
