{{ ansible_managed | comment }}

# Location for the ledger file holding all the information
:ledger: {{ ledger_file }}

# Settings to be used by the gem that handles the exchange rates
# For more information, see https://github.com/spk/money-open-exchange-rates#usage
:exchange:
  :api_key: '{{ ledger_exchange_api_key }}'
  :cache_file: '/tmp/exchange-cache.json'
  :ttl: 86400 # set the seconds after than the current rates are automatically expired

# Fields that are present on the ledger as well as configurations for each field
# Each field can contain the following:
#   - default: "value" - Default value for the field when adding a transaction
#   - presence: true/false - Value is required or not
#   - values: List<"value"> - List of values available on TAB completion
:fields:
  :account:
    :default: 'Main'
    :presence: true
  :date:
    :default: "<%= Date.today.strftime('%d-%m-%Y') %>"
    :presence: true
  :category:
    :default: ''
    :presence: true
    :values:
{% for category in ledger_categories %}
      - {{ category }}
{% endfor %}
  :description:
    :default: ''
    :presence: false
  :venue:
    :default: ''
    :presence: false
  :amount:
    :default: ''
    :presence: true
  :currency:
    :default: '{{ ledger_currencies[0] }}'
    :presence: true
    :values:
{% for currency in ledger_currencies %}
      - {{ currency }}
{% endfor %}
  :processed:
    :default: 'yes'
    :presence: true
    :values:
      - 'yes'
      - 'no'
  :travel:
    :default: ''
    :presence: false

# Configure values to be always excluded from reports
:report:
  :exclude:
    :categories:
      - 'Exchange'

# Define the set of formats to be used across the application
:format:
  :output:
    :default:
      :money: '------'
      :percentage: '-----'
      :travel: '-----'
    :color:
      :header:
        :color: :blue
        :bold: true
      :element:
        :color: :white
      :total:
        :color: :yellow
      :period:
        :color: :magenta
      :money:
        :negative:
          :color: :red
        :neutral:
          :color: :black
        :positive:
          :color: :green
      :processed:
        'yes':
          :color: :white
        'no':
          :color: :black
    :title:
      :width: 80
      :align: 'center'
      :rule: true
      :color: :cyan
      :bold: true
    :balance:
      :header:
        - Account
        - Amount
      :options:
        - :width: 40
          :align: 'right'
          :padding: 5
        - :width: 40
          :align: 'left'
          :padding: 5
    :report:
      :header:
        - Category
        - Amount
        - (%)
      :options:
        - :width: 25
        - :width: 20
          :align: 'center'
        - :width: 15
          :align: 'center'
    :study:
      :header:
          - Item
          - Amount
          - Partial (%)
          - Total (%)
      :options:
          - :width: 35
          - :width: 15
            :align: 'center'
          - :width: 12
            :align: 'center'
          - :width: 12
            :align: 'center'
    :trip:
      :header:
        - Category
        - Amount
        - (%)
      :options:
        - :width: 25
        - :width: 20
          :align: 'center'
        - :width: 10
          :align: 'center'
    :globaltrips:
      :header:
        - Trip
        - Amount
        - (%)
      :options:
        - :width: 20
        - :width: 20
          :align: 'center'
        - :width: 10
          :align: 'center'
    :totals:
      :expense:
        :width: 11
        :align: 'center'
      :income:
        :width: 11
        :align: 'center'
      :total:
        :width: 10
        :align: 'center'
        :span: 2
      :percentage:
        :period:
          :width: 8
          :align: 'right'
        :total:
          :width: 4
          :align: 'right'
  :fields:
    # For more information on the configuration values, please read:
    # http://www.rubydoc.info/gems/money/Money/Formatting
    :money:
      # Format of the money when displaying it on the UI
      :display:
        :sign_positive: true
        :decimal_mark: '.'
        :symbol_after_without_space: true
        :symbol_position: :after
      # Format of the money when writing it to the ledger
      :ledger:
        :sign_positive: true
        :decimal_mark: '.'
        :symbol_after_without_space: true
        :symbol_position: :after
        :symbol: false
        :thousands_separator: ''

# Values for configuring encryption on the ledger file
:encryption:
  # Enable or disable encryption
  # The other settings are not required if enabled is set to false
  :enabled: true
  # Choose the algorithm encryption
  # Options: `ruby -r openssl -e "puts OpenSSL::Cipher.ciphers.join('|')"`
  :algorithm: AES-256-CBC
  # Add credentials to encrypt the file. This is a shell command.
  :credentials:
    :password: {{ ledger_password }}
    :salt: {{ ledger_salt }}
