#!/usr/bin/env sh

{{ ansible_managed | comment }}

function expected_date() {
  [ "$(date +'%d')" == "$1" ]
}

export PATH={{ gem_env.stdout.split(':') | first }}/bin:$PATH

CURRENT_DATE="$(date +'%d-%m-%Y')"

{% for rec in ledger_reoccurrences %}
expected_date {{ rec.day | quote }} && ledger book -t -- {{ rec.account }} $CURRENT_DATE {{ rec.category | quote }} {{ rec.description | quote }} {{ rec.venue | quote }} {{ rec.amount }} {{ rec.currency }} yes ""
{% endfor %}

exit 0
