---
- name: "Install terminal related packages"
  pacman:
    name:
      - "alacritty"
      - "wezterm"
      - "xterm"
    state: "present"
  become: yes

- name: "Create folder for terminal configurations"
  file:
    path: "{{ item }}"
    state: "directory"
    mode: "0700"
  with_items:
    - "{{ wezterm_directory }}"
    - "{{ alacritty_directory }}"

- name: "Copy terminal configurations"
  template:
    src: "{{ item.directory }}/{{ item.file }}.j2"
    dest: "{{ item.destination }}/{{ item.file }}"
    mode: "0600"
  with_items:
    - { destination: "{{ alacritty_directory }}", directory: "alacritty", file: "alacritty.toml" }
    - { destination: "{{ wezterm_directory }}", directory: "wezterm", file: "wezterm.lua" }
