{
  "label" : "poweroff",
  "action" : "systemctl poweroff -i",
  "text" : "Power Off",
  "keybind" : "P"
}
{
  "label" : "reboot",
  "action" : "systemctl reboot",
  "text" : "Reboot",
  "keybind" : "r"
}
{
  "label" : "hibernate",
  "action" : "systemctl hibernate",
  "text" : "Hibernate",
  "keybind" : "h"
}
{
  "label" : "suspend",
  "action" : "systemctl suspend",
  "text" : "Suspend",
  "keybind" : "s"
}
{
  "label" : "logout",
  "action" : "hyprctl dispatch exit 1",
  "text" : "Logout",
  "keybind" : "o"
}
{
  "label" : "lock",
  "action" : "hyprlock",
  "text" : "Lock",
  "keybind" : "l"
}
