{{ ansible_managed | comment }}

title   Arch Linux
linux   /vmlinuz-linux
initrd  /{{ cpu }}-ucode.img
initrd  /initramfs-linux.img
options cryptdevice=UUID={{ uuid }}:{{ partition_physical_group }} root=/dev/mapper/{{ partition_volume_group }}-root quiet rw nowatchdog resume=UUID={{ resume_uuid }} resume_offset={{ resume_offset }} acpi.ec_no_wakeup=1
