{{ ansible_managed | comment }}

set spoolfile = +INBOX

unmailboxes *
mailboxes "+INBOX" \
{% for mailbox in neomutt_mailboxes %}
          "+{{ mailbox }}" \
{% endfor %}

set record="+{{ neomutt_mailbox_record }}"
set postponed="+{{ neomutt_mailbox_postponed }}"
set mbox="+{{ neomutt_mailbox_mbox }}"

# How often to check for new mail (time in seconds).
set mail_check = 60
