{{ ansible_managed | comment }}

set my_login = "{{ neomutt_email_accounts[0].user }}"
set from = $my_login
set use_from = yes
set smtp_url="{{ neomutt_smtp_protocol }}://$my_login:{{ neomutt_email_accounts[0].password }}@{{ neomutt_email_server }}:{{ neomutt_email_server_port }}"
set ssl_force_tls = yes
