#!/usr/bin/env bash
set -eo pipefail
IFS=$'\n\t'

{{ ansible_managed | comment }}

# Only run if internet connection exists
if ! /sbin/ping -c 1 8.8.8.8 >> /dev/null 2>&1; then
  echo "No internet connection"
  exit 1
fi

case $1 in
  photos)
    local_dir=`echo {{ personal_local_photos }}/$2*`
    # Upload album to server
    scp -r -C $local_dir {{ personal_server_shortcut }}:{{ personal_server_photos }}
    # Process uploaded photos
    ssh -t {{ personal_server_shortcut }} process-photos
    ;;

  *)
    echo $"Usage: $0 {photos}"
    exit 1
esac
