{
  "account_token": "{{ mullvad_account_number }}",
  "relay_settings": {
    "normal": {
      "location": {
        "only": {
          "country": "{{ mullvad_country }}"
        }
      },
      "tunnel_protocol": {
        "only": "wireguard"
      },
      "wireguard_constraints": {
        "port": "any"
      },
      "openvpn_constraints": {
        "port": "any",
        "protocol": "any"
      }
    }
  },
  "bridge_settings": {
    "normal": {
      "location": "any"
    }
  },
  "bridge_state": "auto",
  "allow_lan": false,
  "block_when_disconnected": false,
  "auto_connect": false,
  "tunnel_options": {
    "openvpn": {
      "mssfix": null
    },
    "wireguard": {
      "mtu": null,
      "automatic_rotation": null
    },
    "generic": {
      "enable_ipv6": false
    }
  },
  "show_beta_releases": false,
  "settings_version": 2
}