{{ ansible_managed | comment(decoration='! ') }}

! Use the specified colour to display underlined characters when the foreground colour is the default
URxvt*colorUL: {{ urxvt_color_ul }}
! If set, use the specified colour as the colour for the underline itself
URxvt*underlineColor: {{ urxvt_underline_color }}

*.foreground: {{ urxvt_foreground }}
*.background: {{ urxvt_background }}
*.cursorColor: {{ urxvt_cursor_color }}
*.color0: {{ urxvt_color0 }}
*.color1: {{ urxvt_color1 }}
*.color2: {{ urxvt_color2 }}
*.color3: {{ urxvt_color3 }}
*.color4: {{ urxvt_color4 }}
*.color5: {{ urxvt_color5 }}
*.color6: {{ urxvt_color6 }}
*.color7: {{ urxvt_color7 }}
*.color8: {{ urxvt_color8 }}
*.color9: {{ urxvt_color9 }}
*.color10: {{ urxvt_color10 }}
*.color11: {{ urxvt_color11 }}
*.color12: {{ urxvt_color12 }}
*.color13: {{ urxvt_color13 }}
*.color14: {{ urxvt_color14 }}
*.color15: {{ urxvt_color15 }}
