#!/usr/bin/env bash
set -eo pipefail
IFS=$'\n\t'

{{ ansible_managed | comment }}

### tmr — uses transmission-remote to either watch the current list of torrents
###       or move the finished torrents to the final destination.
###
### Usage:
###   tmr list (l)
###   tmr move (mv)

move_dir={{ transmission_final_destination }}

case $1 in
  list|l)
    watch -n 2 transmission-remote --list
    ;;

  move|mv)
    torrent_list=`transmission-remote --list | grep "100%" | awk '{print $1}'`

    for torrent_id in $torrent_list; do
      base_dir=`transmission-remote -t $torrent_id -i | grep -e "Location: " | sed "s/\s*Location: //"`
      filename=`transmission-remote -t $torrent_id -i | grep -e "Name: " | sed "s/\s*Name: //"`
      sudo mv $base_dir/$filename $move_dir/$filename
      sudo chown -R $USER: $move_dir/$filename
      transmission-remote --torrent $torrent_id --remove > /dev/null
      echo "$filename has been moved and removed from list"
    done
    ;;

  *)
    shelp $0
    exit 1
esac
