{{ ansible_managed | comment }}

[Desktop Entry]
Name=xprofile
GenericName=xprofile
Comment=Sourcing xprofile
Exec=/bin/bash -c "source ~/.xprofile"
Terminal=false
StartupNotify=true
Type=Application
Categories=X11;Legacy;Startup
