---
- name: "Install graphic's related packages"
  pacman:
    name:
      - "mesa"
      - "ddcutil"
    state: "present"
  become: yes

- include_role:
    name: "yay"
  with_items:
    - "ddcui"
    - "acpilight"
  loop_control:
    loop_var: "pkg_name"

- name: "Add video group to user"
  user:
    name: "{{ item.name }}"
    groups: "video"
    append: yes
    state: "present"
  with_items: "{{ users }}"
  become: yes

- import_tasks: "geoclue.yml"
