{
  "include": "{{ waybar_directory }}/modules",
  "layer": "top",
  "position": "top",
  "height": 12,
  "margin-left": 10,
  "margin-right": 10,
  "margin-top": 2,

  "modules-left": [
    "custom/power",
    "custom/weather",
    "custom/separator#blank",
    "clock",
    "custom/separator#blank",
    "hyprland/window",
    "hyprland/submap"
  ],

  "modules-center": [
    "hyprland/workspaces#2"
  ],

  "modules-right": [
    "mpris",
    "custom/separator#blank",
    "network#speed",
    "custom/separator#blank",
    "group/motherboard",
    "custom/separator#blank",
    "group/laptop",
    "custom/separator#blank",
    "group/audio",
    "custom/separator#blank",
    "tray",
    "custom/separator#blank",
    "custom/swaync",
    "custom/separator#blank",
    "idle_inhibitor"
  ],

  // Additional format / customize modules

  "custom/power": {
    "format": " ",
    "icon-size": 20,
    "on-click": "{{ hyprland_directory }}/scripts/wlogout.sh",
    "tooltip": false,
  },
}
