{{ ansible_managed | comment(decoration='// ') }}

{
  // HYPRLAND WORKSPACES. CHOOSE as desired and place on waybar configs
  // CIRCLES Style
  "hyprland/workspaces": {
    "active-only": false,
    "all-outputs": true,
    "format": "{icon}",
    "show-special": false,
    "on-click": "activate",
    "on-scroll-up": "hyprctl dispatch workspace e+1",
    "on-scroll-down": "hyprctl dispatch workspace e-1",
    "persistent-workspaces": {
      "1": [],
      "2": [],
      "3": [],
      "4": [],
      "5": [],
    },
    "format-icons": {
      "active": "",
      "default": "",
    },
  },

  //  NUMBERS and ICONS style
  "hyprland/workspaces#2": {
    "format": "{icon}",
    "show-special": false,
    "on-click": "activate",
    "on-scroll-up": "hyprctl dispatch workspace e+1",
    "on-scroll-down": "hyprctl dispatch workspace e-1",
    "all-outputs": true,
    "sort-by-number": true,
    "format-icons": {
      {% for workspace in workspaces %}
"{{ workspace.key }}": "{{ workspace.symbol | default(workspace.key) }}",
      {% endfor %}
"focused": "",
      "default": "",
    },
  },

  // GROUP

  "group/motherboard": {
    "orientation": "horizontal",
    "modules": [ "cpu", "memory", "temperature" ]
  },

  "cpu": {
    "format": "{usage}% 󰍛",
    "interval": 1,
    "format-alt-click": "click",
    "format-alt": "{icon0}{icon1}{icon2}{icon3} {usage:>2}% 󰍛",
    "format-icons": ["▁", "▂", "▃", "▄", "▅", "▆", "▇", "█"],
    "on-click": "gnome-system-monitor",
  },

  "memory": {
    "interval": 10,
    "format": "{used:0.1f}G 󰾆",
    "format-alt": "{percentage}% 󰾆",
    "format-alt-click": "click",
    "tooltip": true,
    "tooltip-format": "{used:0.1f}GB/{total:0.1f}G",
    "on-click": "alacritty --title btop -e btop"
  },

  "temperature": {
    "interval": 10,
    "tooltip": true,
    "hwmon-path": ["/sys/class/hwmon/hwmon1/temp1_input", "/sys/class/thermal/thermal_zone0/temp"],
    //"thermal-zone": 0,
    "critical-threshold": 82,
    "format-critical": "{temperatureC}°C {icon}",
    "format": "{temperatureC}°C {icon}",
    "format-icons": ["󰈸"],
    "on-click": "alacritty --title nvtop -e nvtop"
  },

  "disk": {
    "interval": 30,
    //"format": "󰋊",
    "path": "/",
    //"format-alt-click": "click",
    "format": "{percentage_used}% 󰋊",
    //"tooltip": true,
    "tooltip-format": "{used} used out of {total} on {path} ({percentage_used}%)",
  },

  "group/laptop": {
    "orientation": "horizontal",
    "modules": [ "backlight", "battery" ]
  },

  "backlight": {
    "interval": 2,
    "align": 0,
    "rotate": 0,
    //"format": "{icon} {percent}%",
    "format-icons": [" ", " ", " ", "󰃝 ", "󰃞 ", "󰃟 ", "󰃠 "],
    "format": "{icon}",
    //"format-icons": ["","","","","","","","","","","","","","",""],
    "tooltip-format": "backlight {percent}%",
    "icon-size": 10,
    "on-click": "",
    "on-click-middle": "",
    "on-click-right": "",
    "on-update": "",
    "on-scroll-up": "{{ waybar_directory }}/scripts/brightness.sh --inc",
    "on-scroll-down": "{{ waybar_directory }}/scripts/brightness.sh --dec",
    "smooth-scrolling-threshold": 1,
  },

  "battery": {
    //"interval": 5,
    "align": 0,
    "rotate": 0,
    //"bat": "BAT1",
    //"adapter": "ACAD",
    "full-at": 100,
    "design-capacity": false,
    "states": {
      "good": 95,
      "warning": 30,
      "critical": 15
    },
    "format": "{icon} {capacity}%",
    "format-charging": "{capacity}%",
    "format-plugged": "󱘖 {capacity}%",
    "format-alt-click": "click",
    "format-full": "{icon} Full",
    "format-alt": "{icon} {time}",
    "format-icons": ["󰂎", "󰁺", "󰁻", "󰁼", "󰁽", "󰁾", "󰁿", "󰂀", "󰂁", "󰂂", "󰁹"],
    "format-time": "{H}h {M}min",
    "tooltip": true,
    "tooltip-format": "{timeTo} {power}w",
    "on-click-right": "{{ hyprland_directory }}/scripts/wlogout.sh",
  },

  "group/audio": {
    "orientation": "horizontal",
    "modules": [ "pulseaudio", "pulseaudio#microphone" ]
  },

  "pulseaudio": {
    "format": "{icon}  {volume}%",
    "format-bluetooth": "{icon} 󰂰 {volume}%",
    "format-muted": "󰖁",
    "format-bluetooth": "󰂰",
    "format-icons": {
      "headphone": "",
      "hands-free": "",
      "headset": "",
      "phone": "",
      "portable": "",
      "car": "",
      "default": ["", "", "󰕾", ""], 
      "ignored-sinks": ["Easy Effects Sink"],
    },
    "scroll-step": 5.0,
    "on-click-right": "{{ hyprland_directory }}/scripts/volume_control.sh --toggle",
    "on-click": "pavucontrol -t 3",
    "on-scroll-up": "{{ hyprland_directory }}/scripts/volume_control.sh --inc",
    "on-scroll-down": "{{ hyprland_directory }}/scripts/volume_control.sh --dec",
    "tooltip-format": "{icon} {desc} | {volume}%",
    "smooth-scrolling-threshold": 1,
  },

  "pulseaudio#microphone": {
    "format": "{format_source}",
    "format-source": "  {volume}%",
    "format-source-muted": "",
    "on-click-right": "{{ hyprland_directory }}/scripts/volume_control.sh --toggle-mic",
    "on-click": "pavucontrol -t 4",
    "on-scroll-up": "{{ hyprland_directory }}/scripts/volume_control.sh --mic-inc",
    "on-scroll-down": "{{ hyprland_directory }}/scripts/volume_control.sh --mic-dec",
    "tooltip-format": "{source_desc} | {source_volume}%",
    "scroll-step": 5,
  },

  "bluetooth": {
    "format": "",
    "format-disabled": "󰂳",
    "format-connected": "󰂱 {num_connections}",
    "tooltip-format": " {device_alias}",
    "tooltip-format-connected": "{device_enumerate}",
    "tooltip-format-enumerate-connected": " {device_alias} 󰂄{device_battery_percentage}%",
    "tooltip": true,
    "on-click": "blueman-manager",
  },

  "clock": {
    "interval": 1,
    //"format": " {:%I:%M %p}", // AM PM format
    "format": "  {:%H:%M - %d/%b}", // 24H
    "format-alt": "  {:%H:%M   %Y, %d %B, %A}",
    "tooltip-format": "<tt><small>{calendar}</small></tt>",
    "calendar": {
      "mode": "year",
      "mode-mon-col": 3,
      "weeks-pos": "right",
      "on-scroll": 1,
      "format": {
        "months": "<span color='#ffead3'><b>{}</b></span>",
        "days": "<span color='#ecc6d9'><b>{}</b></span>",
        "weeks": "<span color='#99ffdd'><b>W{}</b></span>",
        "weekdays": "<span color='#ffcc66'><b>{}</b></span>",
        "today": "<span color='#ff6699'><b><u>{}</u></b></span>"
      }
    }
  },

  "hyprland/submap": {
    "format": "<span style=\"italic\">  {}</span>", // Icon: expand-arrows-alt
    "tooltip": false,
  },

  "hyprland/window": {
    "format": "{}",
    "max-length": 40,
    "separate-outputs": true,
    "offscreen-css" : true,
    "offscreen-css-text": "(inactive)",
     "rewrite": {
       "(.*) — Mozilla Firefox": "  $1",
       "(.*) - zsh": "> [$1]",
       "(.*) - alacritty": "> [$1]",
       "(.*) - NVIM": "  $1",
    },
  },

  "idle_inhibitor": {
    "format": "{icon}",
    "format-icons": {
      "activated": " ",
      "deactivated": " ",
    }
  },

  "mpris": {
    "interval": 10,
    "format": "{dynamic} {player_icon}",
    "format-paused": "{status_icon} <i>{dynamic}</i>",
    "on-click-middle": "playerctl play-pause",
    "on-click": "playerctl previous",
    "on-click-right": "playerctl next",
    "scroll-step": 5.0,
    "on-scroll-up": "{{ hyprland_directory }}/scripts/volume_control.sh --inc",
    "on-scroll-down": "{{ hyprland_directory }}/scripts/volume_control.sh --dec",
    "smooth-scrolling-threshold": 1,
    "player-icons": {
      "chromium": "",
      "default": "",
      "firefox": "",
      "kdeconnect": "",
      "mopidy": "",
      "mpv": "󰐹",
      "spotify": "",
      "vlc": "󰕼",
    },
    "status-icons": {
      "paused": "󰐎",
      "playing": "",
      "stopped": "",
    },
    "dynamic-order": [ "title", "artist", "album" ],
    "dynamic-len": 30,
  },

  "network": {
    "format": "{ifname}",
    "format-wifi": "{icon}",
    "format-ethernet": "󰌘",
    "format-disconnected": "󰌙",
    "tooltip-format": "{ipaddr}  {bandwidthUpBytes}  {bandwidthDownBytes}",
    "format-linked": "󰈁 {ifname} (No IP)",
    "tooltip-format-wifi": "{essid} {icon} {signalStrength}%",
    "tooltip-format-ethernet": "{ifname} 󰌘",
    "tooltip-format-disconnected": "󰌙 Disconnected",
    "max-length": 50,
    "format-icons": ["󰤯","󰤟","󰤢","󰤥","󰤨"]
  },

  "network#speed": {
    "interval": 1,
    "format": "{ifname}",
    "format-wifi": "{signalStrength}% {icon}",
    "format-ethernet": "󰌘",
    "format-disconnected": "󰌙",
    "tooltip-format": "{ipaddr}",
    "format-linked": "󰈁 {ifname} (No IP)",
    "tooltip-format-wifi": "{essid} |   {bandwidthUpBytes}   {bandwidthDownBytes}",
    "tooltip-format-ethernet": "{ifname} |   {bandwidthUpBytes}   {bandwidthDownBytes}",
    "tooltip-format-disconnected": "󰌙  Disconnected",
    "max-length": 50,
    "format-icons": ["󰤯","󰤟","󰤢","󰤥","󰤨"]
  },

  "tray": {
    "icon-size": 15,
    "spacing": 8,
  },

  "custom/power": {
    "format": "⏻ ",
    "exec": "echo ; echo 󰟡 power // blur",
    "on-click": "{{ hyprland_directory }}/scripts/wlogout.sh",
    "interval" : 86400, // once every day
    "tooltip": true,
  },

  "custom/swaync": {
    "tooltip":true,
    "format": "{icon} {0}",
    "format-icons": {
      "notification": "<span foreground='red'><sup></sup></span>",
      "none": "",
      "dnd-notification": "<span foreground='red'><sup></sup></span>",
      "dnd-none": "",
      "inhibited-notification": "<span foreground='red'><sup></sup></span>",
      "inhibited-none": "",
      "dnd-inhibited-notification": "<span foreground='red'><sup></sup></span>",
      "dnd-inhibited-none": ""
    },
    "return-type": "json",
    "exec-if": "which swaync-client",
    "exec": "swaync-client -swb",
    "on-click": "sleep 0.1 && swaync-client -t -sw",
    "on-click-right": "swaync-client -d -sw",
    "escape": true,
  },

  "custom/weather": {
    "format": "{}",
    "format-alt": "{alt}: {0}",
    "format-alt-click": "click",
    "interval": 3600,
    "return-type": "json",
    "exec": "{{ waybar_directory }}/scripts/weather.sh",
    "exec": "{{ waybar_directory }}/scripts/weather.py",
    "exec-if": "ping wttr.in -c1",
    "tooltip" : true,
  },

  // Separators

  "custom/separator#dot": {
    "format": "",
    "interval": "once",
    "tooltip": false
  },

  "custom/separator#dot-line": {
    "format": "",
    "interval": "once",
    "tooltip": false
  },

  "custom/separator#line": {
    "format": "|",
    "interval": "once",
    "tooltip": false
  },

  "custom/separator#blank": {
    "format": "",
    "interval": "once",
    "tooltip": false
  },

  "custom/separator#blank_2": {
    "format": "  ",
    "interval": "once",
    "tooltip": false
  },

  "custom/separator#blank_3": {
    "format": "   ",
    "interval": "once",
    "tooltip": false
  },
}
