{{ ansible_managed | comment }}

[calendars]
{% for calendar in agenda_khal.calendars %}
  [[{{ calendar.name }}]]
    path = {{ calendar.path }}
    color = "{{ calendar.color }}"
    readonly = {{ calendar.readonly }}
{% endfor %}

[default]
  default_calendar = {{ agenda_khal.main }}
  highlight_event_days = true

[sqlite]
  path = {{ khal_directory }}/cache

[view]
  event_view_always_visible = True
