---
- name: "Install applications"
  pacman:
    name:
      - "calibre"
      - "chromium"
      - "ffmpeg"
      - "gnome-calculator"
      - "xournalpp"
      - "android-file-transfer"
      - "mplayer"
      - "keepassxc"
      - "signal-desktop"
      - "obsidian"
      - "vlc"
      - "vlc-plugins-all"
    state: "present"
  become: yes

- import_tasks: "syncthing.yml"
- import_tasks: "firefox.yml"
- import_tasks: "opensnitch.yml"

- include_role:
    name: "yay"
  with_items:
    - "portfolio-performance-bin"
    - "bruno-bin"
    - "popcorntime"
    - "slack-desktop"
    - "yt-dlp"
    - "solaar"
    - "qpdfview"
    - "vagrant"
  loop_control:
    loop_var: "pkg_name"
  when: slow_packages is defined and slow_packages

- include_role:
    name: "yay"
  with_items: "{{ extra_applications }}"
  loop_control:
    loop_var: "pkg_name"
