{{ ansible_managed | comment }}

[general]
  status_path = "{{ vdirsyncer_directory }}/status/"

############################
######### Contacts #########
############################

[pair my_contacts]
  a = "my_contacts_local"
  b = "my_contacts_remote"
  collections = ["{{ calendar_contacts | join('", "') }}"]
  conflict_resolution = "a wins"

[storage my_contacts_local]
  type = "filesystem"
  path = "{{ vdirsyncer_directory }}/contacts/{{ calendar_host }}"
  fileext = ".vcf"

[storage my_contacts_remote]
  type = "carddav"
  url = "https://{{ calendar_server }}"
  auth = "basic"
  username = "{{ calendar_username }}"
  password = "{{ calendar_password }}"

#############################
######### Calendars #########
#############################

[pair my_calendar]
  a = "my_calendar_local"
  b = "my_calendar_remote"
  collections = ["{{ calendar_calendars | map(attribute="name") | join('", "') }}"]
  conflict_resolution = "a wins"
  metadata = ["color", "displayname"]

[storage my_calendar_local]
  type = "filesystem"
  path = "{{ vdirsyncer_directory }}/calendars/{{ calendar_host }}"
  fileext = ".ics"

[storage my_calendar_remote]
  type = "caldav"
  url = "https://{{ calendar_server }}"
  auth = "basic"
  username = "{{ calendar_username }}"
  password = "{{ calendar_password }}"
