#!/usr/bin/env bash
set -eo pipefail
IFS=$'\n\t'

{{ ansible_managed | comment }}

# Only run if internet connection exists
if ! /sbin/ping -c 1 8.8.8.8 >> /dev/null 2>&1; then
  echo "No internet connection"
  exit 1
fi

# While python module has problems with format DATE-TIME, we need to scrap all its references before syncing
if [ `command -v sed` ] && [ -f {{ vdirsyncer_directory }}/calendars/{{ calendar_user }}/**/*.ics ]; then
  sed -E -i 's/(^DT.*);VALUE=DATE-TIME/\1/' {{ vdirsyncer_directory }}/calendars/{{ calendar_user }}/**/*.ics
fi

vdirsyncer $@
