{{ ansible_managed | comment }}

[general]
  status_path = "{{ vdirsyncer_directory }}/status/"

{% for account in agenda_vdirsyncer %}
[pair {{ account.name }}]
  a = "{{ account.name }}_local"
  b = "{{ account.name }}_remote"
{% if account.collections is defined %}
  collections = ["{{ account.collections | join('", "') }}"]
{% else %}
  collections = null
{% endif %}
  conflict_resolution = "a wins"
  metadata = ["color", "displayname"]

[storage {{ account.name }}_local]
  type = "filesystem"
  path = "{{ account.path }}"
  fileext = "{{ account.fileext }}"

[storage {{ account.name }}_remote]
{% for option in account.options %}
  {{ option.key }} = "{{ option.value }}"
{% endfor %}


{% endfor %}
