#!/usr/bin/env sh
set -o pipefail

{{ ansible_managed | comment }}

IFS=$'\n\t'

case $1 in
  mount)
    name=$(basename "$2" '.img')
    mkdir -p {{ backup_mount_dir }}
    sudo cryptsetup luksOpen $2 $name
    sudo mount /dev/mapper/$name {{ backup_mount_dir }}
    ;;

  umount)
    sudo umount {{ backup_mount_dir }}
    sudo cryptsetup luksClose $2
    if [ `ls {{ backup_mount_dir }} | wc -l` -eq 0 ]; then rm -r {{ backup_mount_dir }}; fi
    ;;

  *)
    echo $"Usage: $0 {mount|umount} container-name"
    exit 1
esac
