{{ ansible_managed | comment }}

# Personal aliases
alias projs="cd ~/Projects"
alias travel="ikhal -a travel"
alias dl="cd ~/Downloads"
alias shared="vim ~/Sync/files/shared"

# Ruby
alias be="bundle exec"
alias shotgun="be shotgun -o 0.0.0.0"
alias rs="DISABLE_BULLET=true RAILS_LOG_LEVEL=unknown be rails s -b 0.0.0.0"
alias rrs="be rescue rails s -b 0.0.0.0"
alias rc="be rails c"
alias rsp="be rspec"
alias rrsp="be rescue rspec"
alias spry="be pry -r ./app.rb"
alias sirb="be irb -r ./app.rb"
alias sk="be sidekiq -C config/sidekiq.yml"
alias ssk="be sidekiq -C config/sidekiq.yml -r ./app.rb"
alias cucumber="be cucumber"
alias rake="be rake"

## Application
alias vim="nvim"
alias g="git"
alias rg="rg -uu -L"
alias t="todo.sh -d ~/.config/todo/config" # Alias to todo-txt
alias feh="feh -F"
alias sudo="sudo " # Enable aliases to be sudo’ed

## Docker aliases
alias dm="docker-machine"
alias dlc="docker ps -l -q" # return the last-run container ID
alias drm="docker ps -a | grep Exited | cut -d ' ' -f 1 | xargs docker rm" # remove all stopped containers
alias drun="docker run -ti"

# Tmux
alias tma='tmux attach'
alias tml='tmux list-sessions'
alias tmk='tmux kill-session -t'

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# Shortcuts
alias h="history"
alias j="jobs"
alias v="vagrant"

# Always use color output for `ls` and group directories
alias ls="ls --color=auto --group-directories-first"

# List all files colorized in long format
alias l="ls -l"

# List all files colorized in long format, including dot files
alias la="ls -la"

# List only directories
alias lsd="ls -lF | grep '^d'"

# Get week number
alias week='date +%V'

# Stopwatch
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# View HTTP traffic
alias sniff="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""

# Canonical hex dump; some systems have this symlinked
command -v hd > /dev/null || alias hd="hexdump -C"

# JavaScriptCore REPL
jscbin="/System/Library/Frameworks/JavaScriptCore.framework/Versions/A/Resources/jsc";
[ -e "${jscbin}" ] && alias jsc="${jscbin}";
unset jscbin;

# Trim new lines and copy to clipboard
alias c="tr -d '\n' | pbcopy"

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

# Merge PDF files
# Usage: `mergepdf -o output.pdf input{1,2,3}.pdf`
alias mergepdf='/System/Library/Automator/Combine\ PDF\ Pages.action/Contents/Resources/join.py'

# Ring the terminal bell, and put a badge on Terminal.app’s Dock icon
# (useful when executing time-consuming commands)
alias badge="tput bel"

# Intuitive map function
# For example, to list all directories that contain a certain file:
# find . -name .gitattributes | map dirname
alias map="xargs -n1"

# One of @janmoesen’s ProTip™s
for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do
  alias "$method"="lwp-request -m '$method'"
done

# Make Grunt print stack traces by default
command -v grunt > /dev/null && alias grunt="grunt --stack"

if [ ! -z "$ZSH_VERSION" ]; then
  alias reload!="source ~/.zshrc"
elif [ ! -z "$BASH_VERSION" ]; then
  alias reload!="source ~/.bash_profile"
fi

# Faster npm for Europeans
command -v npm > /dev/null && alias npme="npm --registry http://registry.npmjs.eu/"

# Weather
function weather() {
  if [ -n "$1" ]; then place="$1"; else place=""; fi

  curl http://wttr.in/$place
}

# Pacaur
function remove-orphanaged() {
  pacaur -Rns $(pacaur -Qtdq)
}

# Use MyTraceRoute to check internet conditions
alias internet-report="sudo mtr 8.8.8.8"
