{{ ansible_managed | comment }}

# Override zprezto
alias rm="nocorrect rm -I"

# Personal aliases
alias travel="ikhal -a travel"
alias shared="vim ~/Sync/general/files/shared"

# Ruby
alias be="bundle exec"
alias rs="DISABLE_BULLET=true RAILS_LOG_LEVEL=unknown be rails s -b 0.0.0.0"
alias rc="be rails c"
alias rsp="be rspec"
alias rrsp="be rescue rspec"
alias sk="be sidekiq -C config/sidekiq.yml"
alias cucumber="be cucumber"
alias rake="be rake"
alias rails="be rails"

## Application
alias vim="nvim"
alias rg="rg -uu -L"
alias t="todo.sh -d ~/.config/todo/config" # Alias to todo-txt
alias feh="feh -F"
alias sudo="sudo " # Enable aliases to be sudo’ed

## Docker aliases
alias dlc="docker ps -l -q" # return the last-run container ID
alias drm="docker ps -a | grep Exited | cut -d ' ' -f 1 | xargs docker rm" # remove all stopped containers
alias drun="docker run -ti"

# Tmux
alias tma='tmux attach'
alias tml='tmux list-sessions'
alias tmk='tmux kill-session -t'

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# Shortcuts
alias h="history"
alias j="jobs"

# Always use color output for `ls` and group directories
alias ls="ls --color=auto --group-directories-first"

# List all files colorized in long format
alias l="ls -l"

# List all files colorized in long format, including dot files
alias la="ls -la"

# List only directories
alias lsd="ls -lF | grep '^d'"

# Stopwatch
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'

# View HTTP traffic
alias sniff="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""

# Canonical hex dump; some systems have this symlinked
command -v hd > /dev/null || alias hd="hexdump -C"

# Trim new lines and copy to clipboard
alias c="tr -d '\n' | xsel"

# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

# Intuitive map function
# For example, to list all directories that contain a certain file:
# find . -name .gitattributes | map dirname
alias map="xargs -n1"

if [ ! -z "$ZSH_VERSION" ]; then
  alias reload!="source ~/.zshrc"
elif [ ! -z "$BASH_VERSION" ]; then
  alias reload!="source ~/.bash_profile"
fi

# Vim/Nvim
function tvim() {
  if test $# -gt 0; then
    vim "$@"
  elif test -f Session.vim; then
    vim -S
  else
    vim -c Obsession
  fi
}

# Weather
function weather() {
  if [ -n "$1" ]; then place="$1"; else place=""; fi

  curl http://wttr.in/$place
}

# Pacaur
function remove-orphanaged() {
  pacaur -Rns $(pacaur -Qtdq)
}

# Use MyTraceRoute to check internet conditions
alias internet-report="sudo mtr 8.8.8.8"
