{{ ansible_managed | comment }}

# Editors
export VISUAL='nvim'
export EDITOR='nvim'
export PAGER='less'

export XDG_DATA_HOME=$HOME/.local/share
export XDG_CONFIG_HOME=$HOME/.config
export XDG_STATE_HOME=$HOME/.local/state
export XDG_CACHE_HOME=$HOME/.cache

# Larger bash history (allow 32³ entries default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTFILE=$XDG_STATE_HOME/zsh/history
export HISTCONTROL=ignoredups
# Make some commands not show up in history
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help"
# Good dates on ls
export TIME_STYLE=long-iso

# Highlight section titles in manual pages
export LESS_TERMCAP_md="${yellow}"

# Don't clear the screen after quitting a manual page
export MANPAGER="less -X"

# Set the default Less options.
# Mouse-wheel scrolling has been disabled by -X (disable screen clearing).
# Remove -X and -F (exit if the content fits on one screen) to enable it.
export LESS='-F -g -i -M -R -S -w -X -z-4'

# Set the Less input preprocessor.
if [ ! -z "$ZSH_VERSION" ] && (( $+commands[lesspipe.sh] )); then
  export LESSOPEN='| /usr/bin/env lesspipe.sh %s 2>&-'
fi

# Use sane defaults for FZF
export FZF_DEFAULT_COMMAND='rg -uu -L -g "" -g '!.git/' --files --smart-case'
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"

# Remove Lag when changing ZSH to normal mode
export KEYTIMEOUT=1

# Location of wiki for vim
export VIM_WIKI={{ wiki }}

# Colorscheme related variables
export COLORSCHEME_NAME={{ colorscheme_name }}

export GPG_TTY=$(tty)

export CARGO_HOME=$XDG_DATA_HOME/cargo
export GEM_HOME=$XDG_DATA_HOME/gem
export GEM_SPEC_CACHE=$XDG_CACHE_HOME/gem
export GNUPGHOME=$XDG_DATA_HOME/gnupg
export GRADLE_USER_HOME=$XDG_DATA_HOME/gradle
export LESSHISTFILE=$XDG_CACHE_HOME/less/history
export NPM_CONFIG_USERCONFIG=$XDG_CONFIG_HOME/npm/npmrc
export NVM_DIR=$XDG_DATA_HOME/nvm
export _JAVA_OPTIONS=-Djava.util.prefs.userRoot="$XDG_CONFIG_HOME"/java
export PARALLEL_HOME=$XDG_CONFIG_HOME/parallel
export BUNDLE_USER_CONFIG=$XDG_CONFIG_HOME/bundle
export BUNDLE_USER_CACHE=$XDG_CACHE_HOME/bundle
export BUNDLE_USER_PLUGIN=$XDG_DATA_HOME/bundle
export RUSTUP_HOME=$XDG_DATA_HOME/rustup
export SOLARGRAPH_CACHE=$XDG_CACHE_HOME/solargraph
export ASDF_DATA_DIR=$XDG_DATA_HOME/asdf
export ASDF_CONFIG_FILE=$XDG_CONFIG_HOME/asdf/asdfrc
export AWS_SHARED_CREDENTIALS_FILE=$XDG_CONFIG_HOME/aws/credentials
export AWS_CONFIG_FILE=$XDG_CONFIG_HOME/aws/config
export DOCKER_CONFIG=$XDG_CONFIG_HOME/docker
export REDISCLI_HISTFILE=$XDG_DATA_HOME/redis/rediscli_history
export PSQL_HISTORY=$XDG_DATA_HOME/psql_history
