{{ ansible_managed | comment }}

# Credits to Miha Rekar: http://mr.si/posts/2016/01/29/dont-screw-up-when-you-ssh-to-production/

if [[ "$TERM" == "xterm-color" ]]; then
  function change-color() {
    printf "\033]10;$1\007" # foreground
    printf "\033]11;$2\007" # background
  }

  function original-color() {
    grep -m 1 $1 {{ terminal_configuration }} | sed -r "s/[^']*'(.+)'/\1/"
  }

  function reset-colors() {
    change-color "$(original-color 'foreground:')" "$(original-color 'background:')"
  }

  function colorproduction() {
    if {{ production_commands | map('regex_replace', '^(.*)$', '[[ "$1" =~ "^\\1" ]]') | join(' || ') }}; then
      change-color "#FFFFFF" "#CB7E7E"
    else
      reset-colors
    fi
  }

  autoload -U add-zsh-hook
  add-zsh-hook precmd  reset-colors
  add-zsh-hook preexec colorproduction
fi
