{{ ansible_managed | comment }}

setopt NO_BG_NICE # don't nice background tasks
setopt NO_HUP
setopt NO_LIST_BEEP
setopt LOCAL_OPTIONS # allow functions to have local options
setopt LOCAL_TRAPS # allow functions to have local traps
setopt HIST_VERIFY
setopt SHARE_HISTORY # share history between sessions ???
setopt EXTENDED_HISTORY # add timestamps to history
setopt PROMPT_SUBST
setopt CORRECT
setopt COMPLETE_IN_WORD

setopt IGNORE_EOF
setopt AUTO_CD
setopt RM_STAR_WAIT
setopt NO_FLOW_CONTROL
setopt NO_CLOBBER
setopt NO_CASE_GLOB
setopt NUMERIC_GLOB_SORT
setopt EXTENDED_GLOB
setopt RC_EXPAND_PARAM

setopt APPEND_HISTORY # adds history
setopt INC_APPEND_HISTORY SHARE_HISTORY  # adds history incrementally and share it across sessions
setopt HIST_IGNORE_ALL_DUPS  # don't record dupes in history
setopt HIST_REDUCE_BLANKS
setopt NO_NOMATCH

# don't expand aliases _before_ completion has finished
#   like: git comm-[tab]
setopt complete_aliases

# Use vim cli mode
bindkey '^P' up-history
bindkey '^N' down-history
# ctrl-r starts searching history backward
bindkey "^R" history-incremental-search-backward
# ctrl-w removed word backwards
bindkey '^w' backward-kill-word
