{{ ansible_managed | comment }}

#
# Executes commands at the start of an interactive session.
#

# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
# Source Prezto.
if [[ -s "${ZDOTDIR:-$HOME}/.zprezto/init.zsh" ]]; then
  source "${ZDOTDIR:-$HOME}/.zprezto/init.zsh"
fi

autoload -U colors && colors
autoload zmv
autoload -Uz compinit && compinit -d "$XDG_CACHE_HOME"/zsh/zcompdump-"$ZSH_VERSION"
autoload -Uz run-help

# save path on cd
function cd {
  builtin cd "$@"
  pwd >| ~/.config/zsh/last_dir
}

# restore last saved path
if [ -f ~/.config/zsh/last_dir ]; then cd "`cat ~/.config/zsh/last_dir`"; fi

# Source zsh config files
for file in `/usr/bin/find -L ~/.config/zsh/extra -maxdepth 1 -type f`; do
  [ -r $file ] && [ -f $file ] && [ "$(basename -- $file)" != "last_dir" ] && source $file
done

# Ensure path arrays do not contain duplicates.
typeset -gU cdpath fpath mailpath path

#
# Temporary Files
#
if [[ ! -d "$TMPDIR" ]]; then
  export TMPDIR="/tmp/$USER"
  mkdir -p -m 700 "$TMPDIR"
fi

TMPPREFIX="${TMPDIR%/}/zsh"
if [[ ! -d "$TMPPREFIX" ]]; then
  mkdir -p "$TMPPREFIX"
fi

# New colors for ls
if [ `command -v dircolors` ]; then
  eval $(dircolors -b $HOME/.dircolors)
fi

if [ `command -v gem` ] && [ `command -v ruby` ]; then
  export PATH="$(ruby -e 'print Gem.user_dir')/bin:$PATH"
fi

[ -f "/usr/share/zsh/plugins/zsh-autosuggestions/zsh-autosuggestions.zsh" ] && source /usr/share/zsh/plugins/zsh-autosuggestions/zsh-autosuggestions.zsh

[ -f /usr/share/fzf/key-bindings.zsh ] && source /usr/share/fzf/key-bindings.zsh
[ -f /usr/share/fzf/completion.zsh ] && source /usr/share/fzf/completion.zsh

[ -f /opt/asdf-vm/asdf.sh ] && source /opt/asdf-vm/asdf.sh

eval "$(oh-my-posh init zsh --config {{ prompt_theme_directory }}/{{ prompt_theme }})"

source {{ wal_cache_directory }}/colors-tty.sh
