{{ ansible_managed | comment }}

[Desktop Entry]
Name=session
GenericName=session
Comment=Sourcing session
Exec=/bin/bash -c "source ~/.config/session"
Terminal=false
StartupNotify=true
Type=Application
Categories=X11;Legacy;Startup
