#!/usr/bin/env bash
set -euo pipefail
IFS=$'\n\t'

{{ ansible_managed | comment }}

if rfkill list bluetooth | grep -q "yes"; then
  sudo rfkill unblock bluetooth
else
  sudo rfkill block bluetooth
fi
