#!/usr/bin/env bash
set -euo pipefail
IFS=$'\n\t'

{{ ansible_managed | comment }}

if connmanctl technologies | grep -A 1 "Type = bluetooth" | grep -q True; then
  connmanctl disable bluetooth
else
  connmanctl enable bluetooth
fi
