#!/usr/bin/env zsh
set -eo pipefail
IFS=$'\n\t'

{{ ansible_managed | comment }}

name=$(basename "{{ ledger_file }}" ".csv")

datetime=`date "+%d-%m-%YT%H:%M"`

/usr/bin/cp {{ ledger_file }} {{ ledger_file }}.backup
/usr/bin/cp {{ ledger_file }} {{ ledger_backup_directory }}/$name$datetime.csv

/usr/bin/find {{ ledger_backup_directory }} -type f -mtime +{{ ledger_keep_days }} -delete
