{{ ansible_managed | comment }}

# Remap prefix to Control + a
# set -g prefix §
set -g prefix C-a
unbind C-b
bind C-a send-prefix

# Make a smaller delay so we can perform commands after switching windows
# for example
set -sg repeat-time 600

# Remove small delay of escape
set -s escape-time 0

# Mouse
set -g mouse on
bind -n WheelUpPane   select-pane -t= \; copy-mode -e \; send-keys -M
bind -n WheelDownPane select-pane -t= \;                 send-keys -M
bind -n C-WheelUpPane select-pane -t= \; copy-mode -e \; send-keys -M

# Less stretching to get to the first item.
set -g base-index 1
set-window-option -g pane-base-index 1

# Quick pane cycling
unbind ^A
bind ^A select-pane -t :.+

# Use Vi mode
setw -g mode-keys vi

# Terminal emulator window title
set -g set-titles on
set -g set-titles-string '#S:#I.#P #W'

# Terminal junks! (for some reason, tmux-sensible is not working here)
set -g default-terminal "screen-256color"

# Bad Wolf
set -g status-fg white
set -g status-bg colour234
set -g window-status-activity-attr bold
set -g pane-border-fg colour245
set -g pane-active-border-fg colour39
set -g message-fg colour16
set -g message-bg colour221
set -g message-attr bold

# Custom status bar
run-shell " powerline-config tmux setup"

# Activity
setw -g monitor-activity on
set -g visual-activity on

# Autorename sanely.
setw -g automatic-rename on

# Better name management
bind c new-window -c "#{pane_current_path}"
bind , command-prompt "rename-window '%%'"

# Don't prompt for killing panes and windows
bind-key q kill-pane
bind-key & kill-window

bind-key t detach -a

# Better key bindings for copy-mode
bind-key -T prefix Escape copy-mode
bind-key -T copy-mode-vi v send-keys -X begin-selection
bind-key -T copy-mode-vi C-v send-keys -X rectangle-toggle

# Configuration of plugins
set -g @resurrect-processes ':all:'
set -g @resurrect-capture-pane-contents 'off'
set -g @resurrect-strategy-nvim 'session'
set -g @continuum-save-interval '15'
set -g @continuum-boot '{{ tmux_continuum }}'
set -g @continuum-restore '{{ tmux_continuum }}'

# List of plugins
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'tmux-plugins/tmux-yank'
set -g @plugin 'tmux-plugins/tmux-urlview'
set -g @plugin 'cedricpim/tmux-resurrect'
set -g @plugin 'tmux-plugins/tmux-continuum'
set -g @plugin 'tmux-plugins/tmux-open'
set -g @plugin 'tmux-plugins/tmux-pain-control'
set -g @plugin 'tmux-plugins/tmux-copycat'

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
run '~/.tmux/plugins/tpm/tpm'
