{{ ansible_managed | comment }}

[Unit]
After=
After=dbus.service network-pre.target systemd-sysusers.service iwd.service
Requires=iwd.service

[Service]
ExecStart=
ExecStart=/usr/bin/connmand --wifi=iwd_agent -n
CapabilityBoundingSet=
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_BIND_SERVICE CAP_NET_RAW CAP_SYS_TIME CAP_SYS_MODULE
