#!/usr/bin/env bash
set -eo pipefail
IFS=$'\n\t'

{{ ansible_managed | comment }}

if [[ "$#" != "2" ]] || [[ "$EUID" != "0" ]]; then
  echo "Please run sudo wireguard OPERATION CONF"
  exit 1
fi

if [[ "$1" == "stop" ]]; then sed -i 's/#nameserver/nameserver/' /etc/resolv.conf; fi

systemctl $1 wg-quick@{{ network_wireguard_service }}-$2

if [[ "$1" == "start" ]]; then sed -i 's/nameserver 1\./#nameserver 1./' /etc/resolv.conf; fi
