{{ ansible_managed | comment(decoration='-- ', prefix='--[[', postfix='--]]') }}

local hyprlandDirectory = [==[{{ hyprland_directory | regex_replace('~', ansible_facts['env']['HOME']) }}]==]
local configDirectory = hyprlandDirectory .. "/hyprland.d"
local menu = hyprlandDirectory .. "/scripts/rofi.sh -show drun -modi drun,filebrowser,run,window"
local mainMod = "SUPER"

local walCacheDirectory = [==[{{ wal_cache_directory | regex_replace('~', ansible_facts['env']['HOME']) }}]==]
local walColors = dofile(walCacheDirectory .. "/" .. "colors-hyprland.lua")

local context = {
    hyprlandDirectory = hyprlandDirectory,
    menu = menu,
    mainMod = mainMod,
    walColors = walColors,
}

local function loadConfig(name)
    dofile(configDirectory .. "/" .. name .. ".lua")(context)
end

loadConfig("monitors")
loadConfig("startup")
loadConfig("environment")
loadConfig("appearance")
loadConfig("animations")
loadConfig("input")
loadConfig("keybindings")
loadConfig("submaps")
loadConfig("scratchpads")
loadConfig("window-rules")
