#!/usr/bin/env sh
set -euo pipefail
IFS=$'\n\t'

{{ ansible_managed | comment }}

case $1 in
  on)
    sudo systemctl start bluetooth
    # Not exactly sure why but we need to run the enabling twice with a certain delay
    connmanctl enable bluetooth > /dev/null 2>&1
    sleep 3
    connmanctl enable bluetooth > /dev/null 2>&1
    blueman-applet > /dev/null 2>&1 &
    ;;

  off)
    sudo systemctl stop bluetooth
    connmanctl disable bluetooth > /dev/null 2>&1
    pkill blueman-applet
    ;;

  reset)
    playerctl pause > /dev/null 2>&1
    bluetoothctl disconnect {{ bluetooth_device_id }}
    bluetoothctl connect {{ bluetooth_device_id }}
    playerctl play > /dev/null 2>&1
    ;;

  *)
    echo $"Usage: $0 {on|off|reset}"
    exit 1
esac
