#!/usr/bin/env sh

{{ ansible_managed | comment }}

# Export values to connect with Gnome Keyring
eval $(/usr/bin/gnome-keyring-daemon --start --components=gpg,pkcs11,secrets,ssh)
export GNOME_KEYRING_CONTROL GNOME_KEYRING_PID GPG_AGENT_INFO SSH_AUTH_SOCK

# Export general variables to be used at the start
export TERMINAL=alacritty
export EDITOR=nvim

# Location of wiki for vim
export VIM_WIKI={{ wiki }}

# Colorscheme related variables
export COLORSCHEME_NAME={{ colorscheme_name }}
export BACKGROUND_COLOR={{ background_color }}
export COLORSCHEME_STYLE={{ colorscheme_style }}
