{{ ansible_managed | comment }}

[general]
  import=["{{ wal_cache_directory }}/colors-alacritty.toml"]

[font]
  size = 15

  [font.normal]
    family = "Iosevka"

  [font.bold]
    family = "Iosevka"

  [font.italic]
    family = "Iosevka"

  [font.bold_italic]
    family = "Iosevka"
    style = "Bold Italic"

[keyboard]
  bindings = [
    { key = "K", mods = "Shift", mode = "Vi|~Search", action = "ScrollPageUp" },
    { key = "J", mods = "Shift", mode = "Vi|~Search", action = "ScrollPageDown" }
  ]
