{{ ansible_managed | comment }}

[general]
  import=["{{ wal_cache_directory }}/colors-alacritty.toml"]

[font]
  size = 15

  [font.normal]
    family = "Iosevka"

  [font.bold]
    family = "Iosevka"

  [font.italic]
    family = "Iosevka"

  [font.bold_italic]
    family = "Iosevka"
    style = "Bold Italic"

[keyboard]
  bindings = [
    { key = "K", mods = "Shift", mode = "Vi|~Search", action = "ScrollPageUp" },
    { key = "J", mods = "Shift", mode = "Vi|~Search", action = "ScrollPageDown" }
  ]

[hints]
  [[hints.enabled]]
  command = "topen"
  hyperlinks = true
  post_processing = true
  persist = false
  mouse.enabled = true
  regex = "(file://|ipfs:|ipns:|magnet:|mailto:|gemini://|gopher://|https://|http://|news:||git://|ssh:|ftp://)[^\u0000-\u001F\u007F-\u009F<>\"\\s{-}\\^⟨⟩`]+"
